@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	@apply p-8;

	--base-1: theme('colors.white');
	--base-2: theme('colors.neutral.300');
	--base-3: theme('colors.neutral.500');
	--base-contrast: theme('colors.black');
	--base-text: theme('colors.black');
	--base-text-inverse: #fff;
	--foreground: theme('colors.neutral.700');
	--foreground-text: theme('colors.white');
}

.dark {
	--base-1: #000;
	--base-2: #222;
	--base-3: theme('colors.neutral.600');
	--base-contrast: #fff;
	--base-text: #fff;
	--base-text-inverse: #000;
	--foreground: theme('colors.neutral.300');
	--foreground-text: theme('colors.black');
}
